

.card {
  background-color: #fff;
  display: inline-block;
  flex: 1 1;
  height: 420px;
  opacity: 0.9;
}

.card:nth-child(1) {
  flex-basis: 700px;
  background: url('images/canoe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  &:hover {
    display: block;
    opacity: 0.7;
    -webkit-transition: all 1s fade;
    transition: all 1s zoom;
    cursor: pointer;
  }
}

.card:nth-child(2) {
  flex-basis: 300px;
  background-color: #000;
  &:hover {
    background: url('images/snow1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
  }
}

.card:nth-child(3) {
  flex-basis: 300px;
  background: url('images/snow2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:hover {
    opacity: 0.7;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
  }
}
.card:nth-child(4) {
  flex-basis: 300px;
  background-color: #000;
  &:hover {
    opacity: 0.7;
    background: url('images/bike.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
  }
}
.card:nth-child(5) {
  flex-basis: 300px;
  background: url('images/hike.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:hover {
    opacity: 0.7;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
  }
}
.card:nth-child(6) {
  flex-basis: 100%;
  background: url('images/snow5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  background-attachment: fixed;
  &:hover .big {
    color: #000!important;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    cursor: pointer;
  }
  @media screen and (max-width: 740px) {
    font-size: 80px!important;
    text-align: center;
    background-position: center;
    background-attachment: fixed!important;
    background-repeat: no-repeat;
    background-size: cover!important;
    padding-top: 20%;
    background: url('images/alaska2.jpg');
  }
}

.label {
  font-family: mars;
  font-size: 28px;
  color: #fff!important;
  letter-spacing: 1px;
  margin: auto;
  width: 100%;
  margin-top: 200px;
  text-align: center;
}

.big {
  font-size: 155px;
  text-align: center;
  padding-top: 19%;
  margin: 0 auto!important;
  @media screen and (max-width: 740px) {
    font-size: 80px!important;
    text-align: center;
    padding-top: 50%;
  }
}
