html, body {
  margin: 0;
  padding: 0;
  font-family: arial;
  text-transform: uppercase;
}

.landing {
  color: #fff;
  height: 100vh;
  background-image: url('images/snow3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
